{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogIn</title>

  <!-- Bootsrap link  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Global link  -->
  <link rel="stylesheet" href="{% static 'css/global.css' %}">

</head>

<body class="bg-secondary">
  <section class="login">
    <div class="container">
      <h2 class="global__title mt-5 mb-4 text-center">Welcome to LogIn</h2>

      {% if messages %}
      <ul>
        {% for message in messages %}
        <script>
          alert("{{ message|escapejs }}")
        </script>
        {% endfor %}
      </ul>
      {% endif %}


      <form class="form w-50 container" action="{% url 'login' %}" method="post">
        {% csrf_token %}


        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
          <label for="username">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
          <label for="password">Password</label>
        </div>

        <button type="submit" class="btn btn-primary mt-5">Kirish</button>

      </form>
    </div>
  </section>
</body>

</html>