@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    list-style: none;
    text-decoration: none;
    font-family: "Inter", serif;
}

.container {
    width: 85%;
    padding: 0px 10px;
    margin: 0 auto;
}

/* header start */


.header {
    width: 100%;
    padding: 24px 0px;
}

.header__nav,
.header__list,
.header__icon-box {
    display: flex;
    align-items: center;
}

.header__nav {
    justify-content: space-between;
}

.header__list {
    list-style: none;
    gap: 56px;
}

.header__link {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.header__icon-box {
    gap: 16px;
}

.header__icon-btns {
    color: #252525;
    font-size: 24px;
    background: transparent;
    border: none;
}

/* header end */


/* main start */
.main {
    margin: 80px 0px;

    img {
        border-top-right-radius: 32px;
        border-bottom-left-radius: 32px;
    }
}

.main__title {
    text-align: center;
    color: #252525;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    span {
        opacity: .7;
        font-size: 24px;
        line-height: 28px;
    }
}

/* newWeek start  */
.newWeek {
    text-align: center;
    color: #252525;
}

.main__title,
.newWeek__title,
.newWeek__btn {
    font-family: "Playfair Display";

}

.newWeek__title {
    font-size: 64px;
    font-weight: 500;
    line-height: 76px;
}

.newWeek__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 24px 0px;
}

.newWeek__btn {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    padding: 20px 40px;
    background: #252525;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;

    span {
        margin-left: 16px;
    }
}

.newWeek__img-box {
    margin: 80px 0px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, auto);

    img {
        width: 100%;
        height: 433px;
    }
}

.main__line {
    width: 75%;
    margin: 80px auto;
}

/* products start */
/* .products {
    margin: 80px 0px;
} */

.products__btns-box {
    width: 57.5%;
    padding: 8px;
    display: flex;
    gap: 8px;
    border-radius: 30px;
    background: silver;
    margin: 80px auto 40px;

}

.products__btns {
    color: #252525;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding: 16px 40px;
    border-radius: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .4s ease;
}

.products__btns:active,
.products__btns:focus,
.products__btns:hover {
    background: #FFFFFF;
}


.products__card-boxes {
    margin: 40px 0px;
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(4, auto);
}

.products__card-img {
    width: 100%;
}

.products__card-data {
    padding: 16px 26px;
}

.products__card-title {
    color: #252525;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}

.products__card-text {
    color: #252525;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    opacity: .7;
    margin: 16px 0px;

    span,
    i {
        opacity: 1;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 2%;
    }
}
.products__card-btn{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    padding: 6px 12px;
    background: #252525;
    border: none;
    border-radius: 5px;
}

/* main end */